* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 500 18px Arial, sans-serif;
}
html, body {
	min-height: 100%;

}
html {
	height: 100%;
}
body {
	padding: 0 10%;
	background: #F1F1F1;
	color:#C2C2C2;

}
form {
	position: relative;
	padding: 30px 0;
	/* margin:30px auto; */
}
.ba-search input[type="search"] {
	font:700 100px Arial, sans-serif;
	background:#F1F1F1;
	border:none;
	padding: 0;
	max-width:80%;
	height:100%;
	color:#ec5a62;;
	-webkit-appearance: textfield;
	box-sizing:border-box;
}
.ba-search input[type="search"]:focus {
	outline:none;
}
.ba-search button {
	position: absolute;
	width:80px;
	height:80px;
	text-indent: 100px;
	overflow: hidden;
	right:15%;
	top:25%;
	background:url(../img/magnifier.svg) no-repeat center center;
	background-size:100%;
	border:none;
}
.ba-search button:focus {
	outline:none;
}

input::-webkit-input-placeholder {
	color: #c2c2c2;
}
input:-moz-placeholder {
	color: #c2c2c2;
}

.ba-content {
	margin:0;
	padding:0;
	font-size: 0;
	list-style: none;
}
.ba-content a h3 {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: calc(100% - 70px);
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	color: #c2c2c2;
}
.ba-content h3:active {
	color:#ec5a62;
}
.ba-content h3:hover {
	color:#ec5a62;
}

.ba-people {
	/* padding-right: 20px; */
	display: inline-block;
	font-size: 10px;
	width: 30%;
}
.ba-popular {
	margin: 0 5%;
	display: inline-block;
	font-size: 10px;
	width: 30%;
}
.ba-recent {
	/* padding-left: 20px; */
	display: inline-block;
	font-size: 10px;
	width: 30%;
}
.ba-content ul {
	list-style: none;
	padding-left: 0;
}
.ba-content a {
	text-decoration: none;
	vertical-align: middle;
	color: #c2c2c2;
	display: block;
	cursor:pointer;
	padding:10px;
	border-radius:5px;
}
.ba-content li {
	border: 1px solid #F1F1F1;
	border-radius: 10px;
	margin-bottom: 2px;
	background: rgba(118,117,128,0.05);
}
.ba-content li:hover {
	text-decoration: none;
	background: rgba(118,117,128,0.1);
	color: #ec5a62;
	border-radius: 6px;
}

.ba-people-list img {
	display: inline-block;
	vertical-align: middle;
	/* border-radius: 50%; */
	margin: 0 10px 0 0;
}

.ba-content a img {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
	margin:0 10px 0 0;
}
.ba-content a img:hover {
	/* width: 75px; */
}
.ba-content h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 800;
	padding: 10px 0;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
/*.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}*/
